:root {
    --crimson-color: #FA5959;
    --blue-color: #5267DF;
    --light-gray-color: #F7F7F7;
    --dark-blue-color: #242A45;
    --text-blue-color-o50: rgba(36, 42, 69, 0.5);
    --text-blue-color-o75: rgba(36, 42, 69, 0.75);

}

/* FONTS */
@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Regular.woff2') format('woff2'),
        url('../fonts/Rubik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Medium.woff2') format('woff2'),
        url('../fonts/Rubik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


/* GLOBAL */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Rubik","Arial",sans-serif;
    flex-direction: column;
    font-weight: normal;
    background-color: #F2F2F2;
    color: var(--text-blue-color-o50);
}

img {
    max-width: 100%;
    height: auto;
}

main {
    flex-grow: 1;
}

/* CONTAINER */
.container {
    max-width: 1140px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* BUTTONS */
.button {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    border: 2px solid;
    transition: background-color,color,border-color 0.3s ease;
    font-weight: 500;
    white-space: nowrap;
}
.button-red {
    background-color: var(--crimson-color);
    border-color: var(--crimson-color);
    padding: 10px 34px;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 1.5px;
}
.button-blue {
    background-color: var(--blue-color);
    border-color: var(--blue-color);
    padding: 10px 24px;
}
.button-gray {
    background-color: var(--light-gray-color);
    border-color: var(--light-gray-color);
    color: var(--text-blue-color-o75);
    padding: 10px 24px;
}
.button-red:hover {
    background-color: #fff;
    color: var(--crimson-color);
}
.button-blue:hover {
    background-color: #fff;
    color: var(--blue-color);
    padding: 10px 24px;
}
.button-gray:hover {
    background-color: #fff;
    color: var(--text-blue-color-o75);
    border-color: var(--text-blue-color-o75);
    padding: 10px 24px;
}

/* PLACEHOLDER COLOR */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(36, 42, 69,0.25);
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: rgba(36, 42, 69,0.25);
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: rgba(36, 42, 69,0.25);
  }
  :-moz-placeholder { /* Firefox 18- */
    color: rgba(36, 42, 69,0.25);
  }

/* TITLE */
.title {
    font-size: 32px;
    line-height: 52px;
    font-weight: 500;
    letter-spacing: -0.1px;
    color: var(--dark-blue-color);
    margin-bottom: 16px;
}

/* PARAGRAPH TEXT */
.text {
    font-size: 18px;
    line-height: 28px;
    color: var(--text-blue-color-o50);
}

/* INFO */
.info {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
}

/* SITE HEADER */
.header {
    padding: 48px 0px;
    margin-bottom: 60px;
}
.header__container {
    display: flex;
    align-items: center;
}
.header__logo {
    width: 140px;
    height: 25px;
    margin-right: auto;
}
.logo {
    cursor: pointer;
    flex-shrink: 0;
}
.header__nav {
    display: flex;
    align-items: center;
}
.nav__list {
    display: flex;
    list-style: none;
}
.nav__item {
    margin-right: 48px;
}
.nav__link {
    text-decoration: none;
    color: var(--dark-blue-color);
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 1.5px;
    transition: color 0.3s ease;
}
.nav__link:hover {
    color: var(--crimson-color);
}

/* SITE HERO */
.hero {
    width: 100%;
    background: url("../img/rectangle.svg");
    background-repeat: no-repeat;
    background-position: 1000px 100px;
    padding-bottom: 100px;
}
.hero__container {
    display: flex;
    align-items: center;
}
.hero__info {
    flex-shrink: 0;
    width: 540px;
    margin-right: 65px;
}
.hero__title {
    font-size: 48px;
    font-weight: 500;
    line-height: 52px;
    letter-spacing: -0.15px;
    margin-bottom: 24px;
    color: var(--dark-blue-color)
}
.hero__text {
    margin-bottom: 32px;
}
.hero__buttons {
    display: flex;
}
.button-blue {
    margin-right: 16px;
}
.hero__img {
    width: 578px;
    height: 385px;
    border-radius: 25px;
    object-fit: contain;
    flex-shrink: 0;
}

/* SITE FEATURES */
.features {
    padding-top: 80px;
    padding-bottom: 72px;
    text-align: center;
}

/* SITE SLIDER */
.slider {
    background-image: url("../img/rectangle.svg");
    background-repeat: no-repeat;
    background-position: -500px 210px;
    padding-bottom: 90px;
    margin-bottom: 150px;
}
.slider__list {
    display: flex;
    list-style: none;
    justify-content: center;
    width: 730px;
    margin: auto;
    position: relative;
    margin-bottom: 72px;
    padding: 0;
}
.slider__list::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(73, 93, 207,0.2);
    display: block;
    position: absolute;
    bottom: 0;
}
.slider__item {
    width: calc(100% /3);
    text-align: center;

}
.slider__link {
    text-decoration: none;
    color: var(--text-blue-color-o75);
    font-size: 16px;
    line-height: 17px;
    letter-spacing: 0.53px;
    transition: color 0.3s ease;
    display: block;
}
.slider__link:hover {
    color: var(--crimson-color);
}
.slider__item--active .slider__link{
    color: var(--dark-blue-color);
}
.slider__item--active::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--crimson-color);
    display: block;
    margin-top: 27px;
}
.slider-tab {
    display: flex;
    align-items: center;
}
.slider-tab__img {
    width: 536px;
    height: 346px;
    margin-right: 125px;

}
.slider-tab__text {
    margin-bottom: 32px;
}

/* SITE EXTENSIONS */
.extensions {
    margin-bottom: 150px;
}
.extensions-info {
    text-align: center;
    margin-bottom: 48px;
}
.extensions-cards {
    width: 911px;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}
.extensions-cards__card:not(:last-child) {
    margin-right: 34px;
}
.extensions-cards__card:nth-child(2) {
    margin-top: 40px;
}
.extensions-cards__card:nth-child(3) {
    margin-top: 80px;
}
.card {
    width: 280px;
    background-color: #fff;
    padding: 48px 24px 24px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 10px 20px -5px rgba(73, 93, 207,0.2);
}

.card__img {
    margin-bottom: 32px;
}
.card__info {
    margin-bottom: 60px;
}
.card__title {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.25px;
    line-height: normal;
    color: var(--dark-blue-color);
    margin-bottom: 6px;
}

/* SITE FAQs */
.answer-and-question {
    margin-bottom: 150px;
}
.faq-container {
    width: 540px;
    text-align: center;
}
.faq-info {
    text-align: center;
    margin-bottom: 56px;
}
.faq-accordion__list {
    width: 100%;
    list-style: none;
    margin-bottom: 54px;
}
.faq-accordion__item:first-child {
    border-top: 1px solid rgba(36, 42, 69,0.15);
}
.faq-accordion__item {
    border-bottom: 1px solid rgba(36, 42, 69,0.15);
}
.accordion-item__view {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 13px;
    padding-right: 24px;
    cursor: pointer;
    transition: color 0.3s ease;
}
.accordion-item__view:hover .accordion-item__title {
    color: var(--crimson-color);
}
.accordion-item__title {
    font-size: 18px;
    font-weight: normal;
    line-height: 32px;
    color: var(--dark-blue-color);
}
.accordion-item__icon {
    width: 16px;
    height: 8px;
}
.accordion-item__info {
    display: none;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 36px;
    text-align: left;
}
.accordion-item__info--open {
    display: block;
}

/* SITE CTA */
.cta-section {
    padding-top: 58px;
    padding-bottom: 74px;
    text-align: center;
    background-color: var(--blue-color);
    color: #fff;
}
.cta-section__title-text {
    font-size: 13px;
    line-height: 40px;
    letter-spacing: 5px;
    margin-bottom: 24px;
    font-weight: 500;
}
.cta-section__title {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.1px;
    margin-bottom: 36px;
    font-weight: 500;
}
.cta-section__form {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cta-section__input {
    width: 300px;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;
    border: 0;
    border-radius: 5px;
    outline: none;
    margin-right: 16px;
}

/* SITE FOOTER */
.footer {
    background-color: var(--dark-blue-color);
    color: #fff;
    padding: 32px;
}
.footer__container {
    display: flex;
    align-items: center;
}
.footer__logo {
    margin-right: 63px;
}
.logo {
}
.footer__nav {
    margin-right: auto;
}
.nav {
}
.nav__list {
}
.nav__item {
}
.footer__link {
    color: #fff;
}
.footer__social-links {
    display: flex;
    align-items: center;
}
.footer__social-link {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}
.footer__social-link:first-child {
    margin-right: 40px;
}
.footer__social-link:hover {
    color: var(--crimson-color);
}